body{
    background-image: linear-gradient(to bottom, rgb(114, 186, 235), rgba(15, 122, 245, 0.692));
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}
footer{
    background-color: #063172;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 10px;
    
}

button{
    width: 200px;
    height: 50px;
}

.titulo{
    text-align: center;
    font-size: 55px;
    margin: 10px;    
}

.sectionBody{
    text-align: center;
    padding: 30px;
    width: 100%;
    text-align: center;
}


.rights{
    font-size: 70%;
}

.intro{
    text-align: left;
}